*
    font-family "Proxima Nova"

@import "blocks/*"

.sections
    /*border solid 1px grey*/
    padding 5px
    width 300px
    margin-left 20px
.sections p
	font-size 18px
	font-weight bold
	margin-top 30px
	margin-left -15px

.book-item
	float left
	width 250px 
	height 450px
	padding 10px