* {
  font-family: "Proxima Nova";
  vertical-align: top;
}
.app {
  max-width: 960px;
  margin: 0 auto;
}
.search-form {
  margin-top: 30px;
}
@media only screen and (max-width: 650px) {
  .search-form {
    display: none;
  }
}
.sections {
/*border solid 1px grey*/
  padding: 5px;
  width: 300px;
}
.sections p {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
}
.book-item {
  float: left;
  width: 250px;
  height: 450px;
  padding: 10px;
}
