.search-form
    h1 search form
    form
        input#myinput.form-control(type='text', placeholder='Buscar...' name='search')
        button.btn.btn-primary(type='submit') Buscar 
        a(href="") Guardar Busqueda